<template>
  <div class="container">
    <router-view />
  </div>
</template>
<script>
import { onMounted, computed } from "vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
export default {
  setup() {
    const store = useStore();
    const router = useRouter();

    const currentUser = computed(() => {
      return store.state.auth.user;
    });
    onMounted(() => {
      console.log(currentUser.value);
      setTimeout(() => {
        if (currentUser.value == null) {
          logout();
        }
      }, 1000);
    });
    function logout() {
      store.dispatch("auth/logout");
      router.push("/login");
    }
  },
};
</script>
