<template>
  <section class="col-sm-12">
    <h1 class="text-center">Task</h1>
    <div class="card mb-3">
      <div class="card-header bg-primary text-white">
        <div class="row">
          <div class="col">Filter</div>
          <div class="col">
            <a href="#" class="float-end text-white" @click="logout"> Logout </a>
          </div>
        </div>
      </div>
      <div class="card-body bg-dark">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="priority" class="form-label text-white">Priority</label>
              <div class="col-sm-12">
                <Dropdown
                  id="priority"
                  v-model="priorityfilter"
                  :options="optionpriority"
                  optionLabel="text"
                  optionValue="value"
                  placeholder="Select a priority"
                  class="w-full col-sm-12"
                  :show-clear="true"
                />
              </div>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="due_date" class="form-label text-white">Due Date</label>
              <div class="col-sm-12">
                <VueDatePicker
                  v-model="daterange"
                  range
                  multi-calendars
                  dark
                  @update:model-value="setDaterange"
                />
              </div>
            </div>
          </div>
          <div class="col">
            <div class="position-relative">
              <button
                class="btn btn-sm btn-primary float-start me-3"
                @click="getFilter"
                :disabled="loadfilter"
              >
                <div
                  class="spinner-border spinner-border-sm text-light"
                  role="status"
                  v-if="loadfilter"
                >
                  <span class="visually-hidden">Loading...</span>
                </div>
                Search
              </button>
              <button class="btn btn-sm btn-primary float-start" @click="createTask">
                Create
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card bg-dark">
      <div class="p-1 text-white">
        <DataTable
          :loading="_isloading"
          lazy
          :value="tasklist"
          class="bg-dark"
          tableStyle="min-width: 50rem"
        >
          <template #header>
            <div class="mx-auto row">
              <div class="col"></div>
              <div class="col">
                <span class="p-input-icon-left float-end">
                  <i class="pi pi-search" />
                  <InputText
                    placeholder="Keyword Search"
                    @input="inputSearch"
                    v-model="searchvalue"
                  />
                </span>
              </div>
            </div>
          </template>
          <Column field="title" header="Title"></Column>
          <Column field="description" header="Description"></Column>
          <Column field="priority" sortable header="Priority"></Column>
          <Column field="due_date" sortable header="Due Date">
            <template #body="{ data }">
              {{ moment(data.due_date).format("DDD MMM YYYY") }}
            </template>
          </Column>
          <Column field="taskusers" header="User">
            <template #body="{ data }">
              {{ data.taskusers.name }}
            </template>
          </Column>
          <Column field="created_at" sortable header="Created Date">
            <template #body="{ data }">
              {{ moment(data.created_at).format("DDD MMM YYYY") }}
            </template>
          </Column>
          <Column field="actions" header="Action">
            <template #body="{ data }">
              <button class="btn btn-primary btn-sm m-2" @click="viewDetail(data)">
                View
              </button>
              <button class="btn btn-danger btn-sm" @click="DeleteTask(data.id)">
                Delete
              </button>
            </template>
          </Column>
        </DataTable>
      </div>
    </div>
    <Toast />
  </section>
  <Dialog
    v-model:visible="visible"
    modal
    :header="modaltitle"
    :style="{ width: '50rem' }"
    :breakpoints="{ '1199px': '75vw', '575px': '90vw' }"
  >
    <form class="row g-3 needs-validation" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          class="form-control"
          type="text"
          placeholder="Input Title"
          aria-label="title"
          id="title"
          v-model="form.title"
          required
        />
        <div class="p-invalid text-danger" v-if="form.title == ''">
          Please input title.
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="description"
          placeholder="Description"
          v-model="form.description"
          required
        ></textarea>
        <div class="p-invalid text-danger" v-if="form.description == ''">
          Please enter a description.
        </div>
      </div>
      <div class="mb-3">
        <label for="due_date" class="form-label">Due Date</label>
        <div class="col-sm-12">
          <Calendar
            v-model="form.due_date"
            id="due_date"
            :class="`${form.due_date === null ? 'p-invalid' : ''}`"
            aria-describedby="date-error"
            dateFormat="dd/mm/yy"
          />
          <div class="invalid-feedback">Please enter a description.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="priority" class="form-label">Priority</label>
        <div class="col-sm-12">
          <Dropdown
            id="priority"
            v-model="form.priority"
            :options="optionpriority"
            optionLabel="text"
            optionValue="value"
            placeholder="Select a priority"
            class="w-full col-sm-12"
          />
          <div class="invalid-feedback">Please enter a description.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="priority" class="form-label">Tags</label>
        <div class="col-sm-12">
          <b-form-tags input-id="tags-basic" v-model="form.tags"></b-form-tags>
        </div>
      </div>
      <div class="mb-3">
        <button
          type="button"
          class="btn btn-sm btn-primary float-end"
          :disabled="_isloading"
          @click="submitForm"
        >
          {{ action === "create" ? "Submti" : "Update" }}
        </button>
      </div>
    </form>
  </Dialog>
  <ConfirmDialog></ConfirmDialog>
</template>
<script>
import { onMounted, ref } from "vue";
import axios from "axios";
import authHeader from "./services/auth-header";
import DataTable from "primevue/datatable";
import Column from "primevue/column";
import Row from "primevue/row";
import moment from "moment";
import Dialog from "primevue/dialog";
import { useRouter } from "vue-router";
import Calendar from "primevue/calendar";
import Dropdown from "primevue/dropdown";
import { useStore } from "vuex";
import InputText from "primevue/inputtext";
import ConfirmDialog from "primevue/confirmdialog";
import { useConfirm } from "primevue/useconfirm";
import { useToast } from "primevue/usetoast";
import Toast from "primevue/toast";

export default {
  components: {
    DataTable,
    Column,
    Row,
    Dialog,
    Calendar,
    Dropdown,
    InputText,
    ConfirmDialog,
    Toast,
  },
  setup() {
    const store = useStore();
    const tasklist = ref([]);
    const currentpage = ref(1);
    const topage = ref(0);
    const totalpage = ref(0);
    const visible = ref(false);
    const router = useRouter();
    const action = ref("create");
    const modaltitle = ref("Create Task");
    const _isloading = ref(false);
    const loadfilter = ref(false);
    const form = ref({
      title: "",
      description: "",
      due_date: null,
      priority: "",
      tags: [],
      task_id: null,
    });
    const priorityfilter = ref(null);
    const duedatefilter = ref(null);
    const optionpriority = ref([
      { value: "Urgent", text: "Urgent" },
      { value: "High", text: "High" },
      { value: "Normal", text: "Normal" },
      { value: "Low", text: "Low" },
    ]);
    const startDate = ref(null);
    const endDate = ref(null);
    const daterange = ref();
    const searchvalue = ref("");
    const confirm = useConfirm();
    const toast = useToast();

    onMounted(() => {
      setTimeout(() => {
        getData();
      }, 500);
    });
    const getFilter = () => {
      loadfilter.value = true;
      getData();
    };
    const getData = async () => {
      await axios
        .get("http://127.0.0.1:8000/api/task/list", {
          headers: authHeader(),
          params: {
            page: currentpage.value,
            per_page: 10,
            start_date: startDate.value,
            end_date: endDate.value,
            priority: priorityfilter.value,
            query_search: searchvalue.value,
          },
        })
        .then((response) => {
          console.log(response.data.data.data);
          tasklist.value = response.data.data.data;
          topage.value = response.data.data.to;
          totalpage.value = response.data.data.total;
          loadfilter.value = false;
          _isloading.value = false;
        })
        .catch((error) => {
          loadfilter.value = false;
          if (error.response.status == 401) {
            router.push("/login");
          }
        });
    };
    const createTask = () => {
      action.value = "create";
      modaltitle.value = "Create News Task";
      visible.value = true;
    };
    const submitForm = async () => {
      _isloading.value = true;
      if (form.value.title == "") {
        _isloading.value = false;
        return false;
      }
      if (form.value.description == "") {
        _isloading.value = false;
        return false;
      }
      if (form.value.priority == "") {
        _isloading.value = false;
        return false;
      }
      const data = {
        title: form.value.title,
        description: form.value.description,
        due_date: form.value.due_date,
        priority: form.value.priority,
        tags: form.value.tags,
        task_id: form.value.task_id,
      };
      let url;
      if (action.value == "create") {
        url = "http://127.0.0.1:8000/api/task/store";
      } else {
        url = "http://127.0.0.1:8000/api/task/update";
      }
      await axios
        .post(url, data, {
          headers: authHeader(),
        })
        .then((response) => {
          if (response.data.status === 400) {
            return false;
          }
          getData();
          form.value = {
            title: "",
            description: "",
            due_date: null,
            priority: "",
            tags: [],
          };
          visible.value = false;
        })
        .catch((error) => {
          _isloading.value = false;
          if (error.response.status == 401) {
            router.push("/login");
          }
        });
    };
    const viewDetail = (data) => {
      if (data) {
        let tags = [];
        if (data.tags !== null) {
          tags = data.tags.length > 0 ? data.tags.split(",") : [];
        }
        form.value = {
          title: data.title,
          description: data.description,
          due_date: moment(data.due_date).format("DD/MM/YYYY"),
          priority: data.priority,
          tags: tags,
          task_id: data.id,
        };
        action.value = "edit";
        modaltitle.value = "Edit " + data.title;
        visible.value = true;
      }
    };
    const inputSearch = () => {
      setTimeout(() => {
        getData();
      }, 500);
    };
    const logout = () => {
      store.dispatch("auth/logout");
      router.push("/login");
    };
    const setDaterange = (e) => {
      if (e) {
        e.forEach((b, key) => {
          if (key === 0) {
            startDate.value = moment(b).format("YYYY-MM-DD");
          } else {
            endDate.value = moment(b).format("YYYY-MM-DD");
          }
        });
      }
    };
    const DeleteTask = (id) => {
      confirm.require({
        message: "Are you sure you want to proceed?",
        header: "Confirmation",
        icon: "pi pi-exclamation-triangle",
        accept: () => {
          const data = {
            task_id: [id],
          };
          axios
            .delete("http://127.0.0.1:8000/api/task/delete", {
              headers: authHeader(),
              params: {
                task_id: [id],
              },
            })
            .then(() => {
              toast.add({
                severity: "info",
                summary: "Confirmed",
                detail: "You have accepted",
                life: 3000,
              });
              getData();
            });
        },
        reject: () => {
          toast.add({
            severity: "error",
            summary: "Rejected",
            detail: "You have rejected",
            life: 3000,
          });
        },
      });
    };
    const show = () => {
      toast.add({
        severity: "info",
        summary: "Info",
        detail: "Message Content",
        life: 3000,
      });
    };
    return {
      tasklist,
      moment,
      visible,
      createTask,
      modaltitle,
      action,
      form,
      optionpriority,
      submitForm,
      _isloading,
      viewDetail,
      logout,
      priorityfilter,
      duedatefilter,
      daterange,
      setDaterange,
      startDate,
      endDate,
      getFilter,
      loadfilter,
      searchvalue,
      inputSearch,
      DeleteTask,
      show,
    };
  },
};
</script>
