<template>
  <div class="page-holder align-items-center py-4 bg-gray-100 vh-100">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 px-lg-4" v-if="userlogin">
          <div class="card">
            <div class="card-header px-lg-5">
              <div class="card-heading text-primary">Todo Task</div>
            </div>
            <div class="card-body p-lg-5">
              <h3 class="mb-4">Hi, welcome back!</h3>
              <p class="text-muted text-sm mb-5">Please Login to access</p>
              <form id="loginForm" @submit.prevent="handleLogin">
                <p class="text-danger" v-if="message !== ''">{{ message }}</p>
                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="floatingInput"
                    type="email"
                    placeholder="name@example.com"
                    v-model="email"
                    required
                  />
                  <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="floatingPassword"
                    type="password"
                    placeholder="Password"
                    v-model="password"
                    required
                  />
                  <label for="floatingPassword">Password</label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="remember"
                    id="remember"
                  />
                  <label class="form-check-label" for="remember">Remember me</label>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
              </form>
            </div>
            <div class="card-footer px-lg-5 py-lg-4">
              <div class="text-sm text-muted">
                Don't have an account?
                <button type="button" class="btn btn-link" @click="user_register">
                  Register
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- register -->
        <div class="col-lg-6 px-lg-4" v-if="userregister">
          <div class="card">
            <div class="card-header px-lg-5">
              <div class="card-heading text-primary">Jassa Register</div>
            </div>
            <div class="card-body p-lg-5">
              <h3 class="mb-4">Get started with Jassa</h3>
              <p class="text-muted text-sm mb-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore.
              </p>
              <form>
                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="username"
                    type="text"
                    placeholder="name@example.com"
                    v-model="form.name"
                    required
                  />
                  <label for="username">Username</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="floatingInput"
                    type="email"
                    placeholder="name@example.com"
                    v-model="form.email"
                    required
                  />
                  <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="floatingPassword"
                    type="password"
                    placeholder="Password"
                    v-model="form.password"
                    required
                  />
                  <label for="floatingPassword">Password</label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="agree"
                    id="agree"
                  />
                  <label class="form-check-label" for="agree"
                    >I agree with the <a href="#">Terms & Conditions</a>.</label
                  >
                </div>
                <div class="form-group">
                  <button
                    class="btn btn-primary"
                    id="regidter"
                    type="button"
                    name="registerSubmit"
                    @click="registerSubmit"
                  >
                    Register
                  </button>
                </div>
              </form>
            </div>
            <div class="card-footer px-lg-5 py-lg-4">
              <div class="text-sm text-muted">
                Already have an account?
                <button type="button" class="btn btn-link" @click="user_login">
                  Login</button
                >.
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-5 ms-xl-auto px-lg-4 text-center text-primary">
          <img
            class="img-fluid mb-4"
            width="300"
            src="https://therichpost.com/wp-content/uploads/2021/06/login_page_image.png"
            alt=""
            style="transform: rotate(10deg)"
          />
          <h1 class="mb-4">
            Therichpost.com <br class="d-none d-lg-inline" />free code snippets.
          </h1>
          <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { computed, ref } from "vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";

export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "Login",
  setup() {
    const loading = ref(false);
    const message = ref("");
    const router = useRouter();
    const email = ref("");
    const password = ref("");
    const userlogin = ref(true);
    const userregister = ref(false);
    const form = ref({
      name: "",
      email: "",
      password: "",
    });

    const store = useStore();

    const loggedIn = computed(() => {
      return store.state.auth.status.loggedIn;
    });

    function handleLogin() {
      // eslint-disable-next-line no-const-assign
      const user = {
        email: email.value,
        password: password.value,
      };
      loading.value = true;
      store.dispatch("auth/login", user).then(
        (response) => {
          router.push("/");
        },
        (error) => {
          console.log(error.response.data);
          loading.value = false;
          message.value = error.response.data.message;
          // message.value =
          //   (error.response && error.response.data && error.response.data.message) ||
          //   error.message ||
          //   error.toString();
        }
      );
    }

    const registerSubmit = async () => {
      await axios
        .post("http://127.0.0.1:8000/api/users/register", form.value, {})
        .then((response) => {
          if (response.data.status === 400) {
            return false;
          }
          form.value = {
            name: "",
            email: "",
            password: "",
          };
          userregister.value = false;
          userlogin.value = true;
        });
    };
    const user_register = () => {
      userregister.value = true;
      userlogin.value = false;
    };
    const user_login = () => {
      userregister.value = false;
      userlogin.value = true;
    };
    return {
      loading,
      message,
      loggedIn,
      handleLogin,
      email,
      password,
      userlogin,
      userregister,
      user_register,
      registerSubmit,
      form,
      user_login,
    };
  },
};
</script>
