@import "bootstrap/dist/css/bootstrap.min.css";
h2, p{
    color: black !important;
}
.p-column-header-content{
    color: unset !important;
}
.p-dialog-content p{
    color: #fff !important;
}
.p-dialog-content .b-form-tags-input{
    color: #000000;
}
.p-sortable-column.p-highlight .p-column-header-content{
    color: #000000 !important;
}
.p-sortable-column.p-highlight .p-column-header-content svg{
    color: #000000 !important;
}
.position-relative .btn{
    position: relative;
    top: 38px;
}
a{
    text-decoration: none !important;
}
.p-dropdown{
    height: 40px;
}
.p-dropdown-label{
    padding-top: 9px;
    font-size: 14px;
}
.dp__input{
    font-size: 14px !important;
}